
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;400;600;800;900&display=swap');

body {
  background-color: #1C1E21 !important;
  color: #fff !important;
font-family: 'Inconsolata', monospace !important;
}
a{
  color: transparent;
  text-decoration: none !important;
}
.intro {
  position: sticky;
  top: 0;
  height: 100vh;
}


.project {
  width: 100%;
  background-color: #242526;
  border-radius: 5px;
  padding: 15px 40px;
  margin-top: 10px;
}

.project h1 {
  font-size: 28px;
}

.text-description {
  color: rgba(235,235,245,.6);
}

ion-icon {
  font-size: 20px;
  color: rgba(235,235,245,.6);
}

.project-name{
  color: #fff;
}

.project-name:hover{
  color: #fff;
}
@media (min-width: 768px) {
  .projects{
    min-height: 100vh;
  }

}